
.filter-bar {
    width: 59.8125rem; 
    height: 3.4375rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: rgba(234, 234, 234, 1);
    border-radius: 0.25rem;
    margin-left: 651px;
    position: relative;
    z-index: 5;
    margin-top: 73.99px;

    // @media (max-width: 1600px) {
    //     width: calc(59.8125rem - ((1600px - 100vw) * 0.3));
    //     margin-left: auto;
    //     margin-right: auto;
    //   }
  
      @media (max-width: 1399px) {
        width: 100%;
        max-width: 957px;
        margin: 0 auto 1.5rem;
      }
  
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 1rem;
  
      .right-section {
        width: 100%;
        justify-content: space-between;
      }
    }
  
    .left-section {
      .total-items {
        font-size: 0.875rem;
        color: #666;
      }
    }
  
    .right-section {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 13px;
      width: 100%;
      justify-content: flex-end;

      .sort-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
  
        span {
            font-weight: 400;
            font-size: 1rem;
            color: rgb(0, 0, 0);
        }
  
        select {
          padding: 0.375rem 1.5rem 0.375rem 0.75rem;
          border: 1px solid #ddd;
          border-radius: 0.25rem;
          background-color: white;
          font-size: 0.75rem;
          color: rgba(118, 118, 118, 1);
          cursor: pointer;
          appearance: none;
          background-image: url('/arrowdownlight.svg');
          background-repeat: no-repeat;
          background-position: right 0.5rem center;
          background-size: 0.75rem;
          width: 10rem;
          height: 2.25rem;
  
          &:focus {
            outline: none;
            border-color: #8b185e;
          }
        }
      }

      .display-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
  
        span {
            font-weight: 400;
            font-size: 1rem;
            color: rgb(0, 0, 0);
        }
  
        select {
          padding: 0.375rem 1.5rem 0.375rem 0.75rem;
          border: 1px solid #ddd;
          border-radius: 0.25rem;
          background-color: white;
          font-size: 0.75rem;
          color: rgba(118, 118, 118, 1);
          cursor: pointer;
          appearance: none;
          background-image: url('/arrowdownlight.svg');
          background-repeat: no-repeat;
          background-position: right 0.5rem center;
          background-size: 0.75rem;
          width: 4.0625rem;
          height: 2.25rem;
  
          &:focus {
            outline: none;
            border-color: #8b185e;
          }
        }
      }
  
      .view-options {
        display: flex;
        gap: 1rem;
        margin-left: auto;
  
        button {
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 0.25rem;
          background-color: inherit;
          cursor: pointer;
  
       
        }
      }
    }
}

