

// src/components/products/ProductCard.scss
.product-card {
    width: 100%;
    max-width: 13.824375rem; 
    height: 25.320625rem; 
    margin: 0 auto;
    border-radius: 0.5rem;
    background: #fff;
    transition: transform 0.2s ease;
    position: relative;
    z-index: 1;
    border: 1px solid rgba(234, 234, 234, 1);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    &:hover {
      transform: translateY(-0.25rem);
    }
  
    .product-image {
      position: relative;
      width: 100%;
      height: 12.554375rem;
      display: flex;
      align-items: center;
      justify-content: center;


      .new-label {
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        width: 66.58px;
        height: 25.96px;
        // background: #752157;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(117, 33, 87, 1);
        font-family: Almarai, sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        z-index: 2;
        border: 1px solid rgba(117, 33, 87, 1);
      }
  
      img {
        object-fit: contain;
      }
  
      .wishlist-btn {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;

  
        &.active img {
          filter: brightness(70%);
        }
      }
   
      
    }
  
    .product-info {
    height: 12.7666rem;

      padding: 1rem;
      position: relative;
      background-color: rgba(249, 249, 249, 1);
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      display: flex;          
      flex-direction: column; 
      justify-content: space-between; 
      border-top: 1px solid rgba(234, 234, 234, 1);  
  

      .colors-container {
        display: flex;
        gap: 4px;
        
      .color-indicator {
        width: 20px;
        height: 20px;
      border-radius: 4px;
      cursor: pointer;
      }}
      .product-title {
        font-family: Almarai, sans-serif;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #515151;
        margin-bottom: 0.5rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 2.5rem;   
        margin-top: 11.73px;
   
        }
  
      .product-price {
  
        .current-price {
          font-family: Almarai, sans-serif;
          font-weight: 700;
          font-size: 1.4375rem;
          line-height: 2.5rem;
          color: #752157;
          display: block;
          height: 22.57px;

        }
  
        .original-price-container {
          display: flex;
          align-items: center;
          gap: 1rem;
  
          .original-price {
            font-family: Almarai, sans-serif;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 2.5rem;
            color: rgba(118, 118, 118, 1);
            text-decoration: line-through;
          }
  
          .discount {
            font-family: Almarai, sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 2.5rem;
            color: rgba(6, 150, 68, 1);
          }
        }
      }
  
   
  
    .product-actions {
        height: 37.24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(234, 234, 234, 1);
        margin: 0 -1rem -1rem -1rem; 
        padding: 0 1rem;             
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        .product-icons {
          display: flex;
          gap: 0.775625rem;
  
          .icon-btn {
            background: none;
            border: none;
            cursor: pointer;
          }
        }
  
        .product-rating {
          display: flex;
          align-items: center;
          gap: 0.3525rem;
  
          span {
            font-family: Almarai, sans-serif;
            font-size: 0.875rem;
            color: #515151;
          }
        }
      }
    }
}
  
// Responsive 
@media (max-width: 600px) {
    .product-card {
      max-width: 100%;
    }
}