

.pagination-container {
    width: 100%;
    margin: 2rem auto;
    position: relative;
    z-index: 5;
  
    .pagination {
      width: 100%;
      max-width: 957px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      height: 55px;
      background-color: rgba(234, 234, 234, 1);
      position: relative;
      border-radius: 4px;
  
      .page-numbers-container {
        display: flex;
        position: absolute;
        right: 43px; 
        align-items: center;
        height: 100%;
        margin-right: 44px;
        font-size: 15px;
        font-weight: 700;
        font-family: Almarai, sans-serif;
        .page-number:not(:first-child):not(:last-child) {
            border-right: 1px solid rgba(223, 223, 223, 1);
            border-left: 1px solid rgba(223, 223, 223, 1);
          }


      }
  
      .page-number {
        width: 43px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        color: rgba(0, 0, 0, 1);
        font-size: 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: rgba(223, 223, 223, 0.5);
        }
  
        &.active {
          background-color: rgba(223, 223, 223, 1);
          color:rgba(117, 33, 87, 1);
        }
      }
  
      .page-control {
        width: 43px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        cursor: pointer;
        position: absolute;
  
        &:first-child {
          left: 10px;
        }
  
        &:last-child {
            right: 10px;
        }
  
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
  
        &:not(:disabled):hover {
          background-color: rgba(223, 223, 223, 0.5);
        }
  
     
      }
    }
  }